version: "3.9"

services:
  server:
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: production
    ports:
      - "8000:8000"
    environment:
      ENV: production
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - postgres
      - backend

  postgres:
    image: postgres:15.1
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      PGDATA: /data/postgres
    volumes:
       - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    env_file:
      - .env
    restart: unless-stopped

  neo4j:
    image: neo4j:latest
    volumes:
      - neo4j-logs:/logs
      - neo4j-config:/config
      - neo4j-data:/data
      - neo4j-plugins:/plugins
    environment:
      NEO4J_AUTH: "${NEO4J_USER}/${NEO4J_PASSWORD}"
      NEO4JLABS_PLUGINS: '["apoc"]'
    ports:
      - "7474:7474"
      - "7687:7687"
    restart: always
    networks: 
      - backend

networks:
  postgres:
  backend:

volumes:
    postgres:
    neo4j-logs:
    neo4j-config:
    neo4j-data:
    neo4j-plugins:
